.cities {
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
  }
}