.home {
  height: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../Assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &__textbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
  }
}