.heading{

  &-1 { 
    color: #fff;
    font-size: 3.5rem;
    letter-spacing:1px;
    word-spacing: 4px;    
    font-weight:300;
    text-transform: uppercase;
  }  

  &-2 {
    font-weight:300;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    word-spacing: 4px;
    text-transform: uppercase;

    &::after {
      display: block;
      height:2px;
      width: 10rem;
      background-color: #cf6d17;
      content: " ";
      margin: 0 auto; 
      margin-top: 3rem; 
    }
  } 

  &-3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
  }
}